<p>Thank you, <%= @request.cov_name %>. You are now signed up to cover for <%= @request.ooh_name %> from <%= @request.startdate %> 
at <%= @request.starttime%> until <%= @request.enddate%> at <%= @request.endtime %>. Thank you! </p>
